*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-align: none;
}
ul, ol, li {
    list-style: none;
}


html, body{
    scroll-behavior: smooth;
}
header{
    background-color: #333;
    padding: 16px;
    position: fixed;
    width: 100vw;
}
header nav ul {
    display: flex;
    justify-content: space-between;
}
header nav a {
    color: white;
}

header nav a:hover{
    background-color: tomato;
    transition: 1s;

}

.containertexto{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grupo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
#vermelho{
    background-color: tomato; 
}

#verde{
    background-color: aquamarine;

}


#azul {
    background-color: blue;
}
#amarelo{
    background-color: yellow;
}
#roxo{
    background-color: purple;
}

.grupo h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.grupo h2{
    margin-bottom: 40px;
    font-size: 20px;
    max-width: 600px;
}
.grupo img{
    width: 600px;
    height: auto;
    margin: 20px;
    max-width: 90%;

}